body
{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-image:url(../image.png);
}

label{
    margin-left:20px;
     
}

select{
    padding: 1px 6px;
    cursor: pointer;
}


